doctype html
html
  include modules/head/head.jade
  body
    .admin
      .container
        .left-panel
          ul.left-panel__list
            li(data-tab="config").active.left-panel__item.
              Конфигурация приложения
            li(data-tab="styles").left-panel__item.
              Стили
          .left-panel__bot
            form(method="POST").connect-form
              label
                | Ключ:
                input(type="text")#connectKey.connect-form__input
              label
                | Домен:
                input(type="text")#connectDomen.connect-form__input
              input(type="button" value="Подключиться").connect-form__btn
            a(href="#").left-panel__exit Выход
        .content
          .content__item#styles.
            222Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro hic dolorum totam, reprehenderit accusantium unde accusamus quis, eveniet nisi facilis quo, eaque. In suscipit repudiandae quia cupiditate corrupti omnis.
          .content__item#config.
            333lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque alias iste, quaerat, sequi labore velit et error amet excepturi dolores at dolor, aut qui veniam aliquam sed facilis a atque!