head
  meta(charset='utf-8')
  title App Control
  meta(content='width=device-width, initial-scale=1' name='viewport')
  link(rel="stylesheet", href="assets/css/main.css")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" defer)
  script(src='assets/js/app.js' defer)